<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <h1>Souleymane DIA</h1>
    <nav>
      <ul>
        <li><%= link_to "Welcome", welcome_path %></li>
        <li><a href="/about"><%= link_to "Portfolio", page_path %></a></li>
      </ul>
    </nav>
  </div>
  <div class="main">
        <div class="container">
          <h2>Hi, I'm Souleymane DIA</h2>
          <p>I'm a full-stack web developer</p>
          <%= link_to "View my Work", page_path, class: "btn btn-primary" %>
               
          <%= yield %>
        
        </div>
  </div>
  <div class="footer">
    <div class="container">
      <ul>
        <li><a href="https://github.com/souleyDIA"><%= favicon_link_tag 'github.png' %>
</a></li>
        <li><a href="https://www.linkedin.com/in/souleymane-dia-9871b219b/">LinkedIn</a></li>
        <li><a href="sjjsjskk">Twitter</a></li>
      </ul>
      <p>&copy; 2022 Souleymane DIA</p>
    </div>
  </div> 

</body>
</html>
